@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

body{
    font-family: "Barriecito", system-ui;
    background-color: #e4bcfc;
    color: #444444;
    margin: 50px;
}

.menuSuperior{
    color: #444444;
    background-color: #FFF;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #4B0082;
    border: 2.5px solid #4B0082;


    /* ESPAÇAMENTOS */
    margin: 0px 0px 30px 0px; /* Espaço por FORA */
    padding: 50px; /* Espaço por DENTRO */

}

.menuSuperiorBotao{
    color: #FFFFFF;
    background-color: #4B0082;
    text-decoration: none;
    border-radius: 100px;
    padding: 10px 20px;
    margin: 10px;
    box-shadow: 1px 1px 10px #4B0082;

}


.menuSuperiorBotao:hover{
    background-color: #e4bcfc;
    color: #4B0082;
    transition: 0.3s;

}

.card{
    text-align: center;
    background-color: #FFF;
    width: 275px;
    padding: 20px;
    border-radius: 10px;
    border: 2.5px solid #4B0082;
    box-shadow: 1px 1px 10px #4B0082;
}

.cardBotao{
    background-color: #e4bcfc;
    color: #4B0082;
    border: none;
    margin: 0px;

    
}

.cardBotao:hover{
    background-color: #4B0082;
    color: #FFF;
    transition: 0.3s;
}
